*.class
*.iml
*.ipr
*.iws
*.log
*.log.[0-9]
*.log.[0-9][0-9]
*.ser
*~
*.kryo.bin
.buildpath
.classpath
.gradle
.~lock*
.DS_Store
core




## These IDEA files SHOULD be under version control:
!**/.idea/codeStyleSettings.xml
!**/.idea/compiler.xml
!**/.idea/encodings.xml
!**/.idea/findbugs-idea.xml
!**/.idea/inspectionProfiles/
!**/.idea/runConfigurations/

**/.idea/copyright/
**/.idea/dataSources.ids
**/.idea/dataSources.local.xml
**/.idea/dataSources.xml
**/.idea/dictionaries/
**/.idea/gradle.xml
**/.idea/libraries/
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/rebel_project.xml
**/.idea/scopes/
**/.idea/shelf/
**/.idea/sonarIssues.xml
**/.idea/sqldialects.xml
**/.idea/uiDesigner.xml
**/.idea/vcs.xml
**/.idea/workspace.xml
**/.metadata/
**/.nb-gradle/
**/.project
**/.pydevproject/
**/.scala_dependencies/
**/.settings/
**/.sonar/
**/.vagrant/
**/.kube/
**/bin/**
build/
clientgui/clientgui_main/conf/customized
clientgui/clientgui_main/conf/dev.log4j.par
clientgui/clientgui_main/jssecacerts
config/conf/server.conf
config_migration/db/
gradle-app.setting
license_main/LicenseCreator
load_test/load_analysis/opt/
load_test/load_analysis/opt/mainserver/
load_test/load_analysis/opt/Transmode_TNM/
log/
!rmiclient_if/src/main/java/se/transmode/tnm/rmiclient/server/services/log/
!mainserver_rmi_lib/src/main/java/se/transmode/tnm/main/services/log/
mainserver_main/conf/customized
mainserver_main/conf/dev.log4j.par
mainserver_main/conf/server.par
mainserver_main/conf/server.yaml
mainserver_main/ftp/mib/*.xml
mainserver_main/ftp/mib/MibDataCollection.dtd
mainserver_main/ftp/mib/MibDataCollection.xsl
mainserver_main/tftproot
mimic_control/.ActiveAgents*
mimic_control/createdAgents*.txt
mimic_control/populateDb.sql
mlsn-tools/create-inventory/sqldump/
mms/Calculate1x2RoadmNetworks.txt
mms/Calculate1x4RoadmNetworks.txt
mms/CalculateMsMxp40GWithClientProtectionNetworks.txt
mms/CalculationResult*
mms/ftp/backup
mms/ftp/circuits
mms/ftp/invsummary
mms/ftp/mib/alarm.xml
mms/ftp/mib/client.xml
mms/ftp/mib/lambdasubrack.xml
mms/ftp/mib/oa.xml
mms/ftp/pm15m
mms/ftp/pm24h
mms/ftp/pmsummary
mms/ftp/spreadsheet
mms/ftp/webalarms
mms/images/Cookie_Monster1024_768.jpg
mms/in_memory_db.tmp
mms/inventoryTest.xml
mms/manifest.mf
mms/test.xml
mms/tftproot
nbproject/
node/tmtsmgr_impl/ftp/mib/alarm.xml
node/tmtsmgr_impl/ftp/mib/client.xml
node/tmtsmgr_impl/ftp/mib/lambdasubrack.xml
node/tmtsmgr_impl/ftp/mib/MibDataCollection.dtd
node/tmtsmgr_impl/ftp/mib/MibDataCollection.xsl
node_modules/
jspm_packages/
nodemgr_impl/*.jdbc
out/
output/
PmDataPopulator/conf/dev.log4j.par
PmDataPopulator/ftp/pm15m/*.xml
PmDataPopulator/ftp/pm24h/*.xml
pmserver_main/conf/dev.log4j.par
pmserver_main/conf/pmserver.par
pmserver_main/ftp/pm15m/*.xml
pmserver_main/ftp/pm24h/*.xml
pmserver_main/src/test/resources/se/transmode/tnm/pmserver/main/edu*
pmserver_main/theSrcName.gz
servergui_main/conf/dev.log4j.par
servergui_main/conf/pmserver.par
servergui_main/conf/server.par
snmpscript_main/conf/dev.log4j.par
snmpscript_main/getInventoryResponse.xml
snmpscript_main/inventory.xml
sonar-project.properties
test_summary/.ant-targets-build.xml
test_summary/report
test_summary/results
test_summary/summary
tm_common_lib/src/se/transmode/common/version/MmsVersion.java
tmp/
nbi/wsscript_main/TC_Output
nbi/wsserver_main/conf/dev.log4j.par
nbi/wsserver_main/conf/wsserver.par
.nodejs/
nbi/wsscript_main/TC_Output/
webapp/src/main/resources/static/bundles/
webapp/src/main/resources/static/webpack-demo/bundles/
tools/chef/.kitchen
webapp/src/main/resources/static/bundles/

##Elixir/Erlang related
**/_build
**/deps
erl_crash.dump
*.ez
*.hprof
